{% extends 'base.html.twig' %}

{# @var city \App\Entity\City #}
{# @var weather \App\Entity\Weather #}

{% block title %}Weather in {{ city.name }}, {{ city.countryCode }}{% endblock %}

{% block body %}
    <main>
        <h1>Weather in {{ city.name }}, {{ city.countryCode }}</h1>

        <ul>

            {% for measurement in measurements %}
                <li>{{ measurement.date|date('d.m.Y') }}: {{ measurement.celsius }}&deg;C</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
